# Parsing de Sexo percentil por Municipio

In [1]:
import numpy as np
import pandas as pd

In [4]:
df_sexo_ubrrural = pd.read_excel('Sexo_UrbanoxRural.xls',encoding = "ISO-8859-1")
df_sexo_ubrrural.head(20)

,Unnamed: 0,Unnamed: 1,"Tabela 1 - População residente, total e respectiva distribuição percentual, por situação do domicílio e sexo, e razão de sexo,",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,segundo os municípios e as classes de tamanho...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Código do Município,Sigla da Unidade da Federação,Municípios e classes de tamanho\nda população ...,População residente,NaN,NaN,NaN,NaN,Razão de\nsexo\n(% )
3,NaN,NaN,NaN,Total,Distribição percentual (%),NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Situação do domicílio,NaN,Sexo,NaN,NaN
5,NaN,NaN,NaN,NaN,Urbana,Rural,Homem,Mulher,NaN
6,NaN,NaN,Brasil,190755799,84.36,15.64,48.97,51.03,95.9632
7,NaN,NaN,Até 5.000,4374345,56.29,43.71,51.08,48.92,104.415
8,4200051,SC,Abdon Batista,2653,27.29,72.71,52.09,47.91,108.725
9,1700251,TO,Abreulândia,2391,61.73,38.27,52.74,47.26,111.595
10,3100401,MG,Acaiaca,3920,65.13,34.87,48.32,51.68,93.4985
11,4300034,RS,Aceguá,4394,24.1,75.9,52.41,47.59,110.128
12,5200159,GO,Adelândia,2477,89.1,10.9,51.39,48.61,105.719
13,3500204,SP,Adolfo,3557,89.96,10.04,50.24,49.76,100.965
14,4200309,SC,Agronômica,4904,37.89,62.11,50.92,49.08,103.749
15,3100708,MG,Água Comprida,2025,75.06,24.94,52.99,47.01,112.721
16,5200209,GO,Água Limpa,2013,70.84,29.16,52.06,47.94,108.594
17,2400406,RN,Água Nova,2980,64.03,35.97,49.66,50.34,98.6492
18,4300059,RS,Água Santa,3722,38.88,61.12,50.48,49.52,101.939
19,3100807,MG,Aguanil,4054,57.84,42.16,50.84,49.16,103.417

In [5]:
df_sexo_ubrrural = df_sexo_ubrrural.iloc[8:]

df_sexo_ubrrural.columns = ['Cod_Municipo','UF', 'Municipio', 'Total', 'Urbano', 'Rural', 'Homem' , 'Mulher', 'Razao'] 

df_sexo_ubrrural.head()

   Cod_Municipo  UF      Municipio Total Urbano  Rural  Homem Mulher    Razao
8       4200051  SC  Abdon Batista  2653  27.29  72.71  52.09  47.91  108.725
9       1700251  TO    Abreulândia  2391  61.73  38.27  52.74  47.26  111.595
10      3100401  MG        Acaiaca  3920  65.13  34.87  48.32  51.68  93.4985
11      4300034  RS         Aceguá  4394   24.1   75.9  52.41  47.59  110.128
12      5200159  GO      Adelândia  2477   89.1   10.9  51.39  48.61  105.719

In [7]:
### Essas linhas nao tem valor agregado , vou eliminar:

df_sexo_ubrrural[df_sexo_ubrrural.isnull().any(axis=1)]

,Cod_Municipo,UF,Municipio,Total,Urbano,Rural,Homem,Mulher,Razao
1309,NaN,NaN,De 5.001 a 10.000,8541935,60.04,39.96,50.78,49.22,103.169
2522,NaN,NaN,De 10.001 a 20.000,19743967,60.85,39.15,50.57,49.43,102.306
3924,NaN,NaN,De 20.001 a 50.000,31344671,70.27,29.73,50.04,49.96,100.16
4968,NaN,NaN,De 50.001 a 100.000,22314204,80.98,19.02,49.43,50.57,97.7457
5294,NaN,NaN,De 100.001 a 500.000,48565171,94.46,5.54,48.68,51.32,94.8558
5540,NaN,NaN,Mais de 500.000,55871506,99.06,0.94,47.42,52.58,90.1864
5579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5580,"Fonte: IBGE, Censo Demográfico 2010. Resultado...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
## ELiminar as linhas que tem valores Na
df_sexo_ubrrural.dropna(inplace=True)

In [9]:
df_sexo_ubrrural[df_sexo_ubrrural.isnull().any(axis=1)]

Empty DataFrame
Columns: [Cod_Municipo, UF, Municipio, Total, Urbano, Rural, Homem, Mulher, Razao]
Index: []

In [10]:
df_sexo_ubrrural.head(10)

   Cod_Municipo  UF      Municipio Total Urbano  Rural  Homem Mulher    Razao
8       4200051  SC  Abdon Batista  2653  27.29  72.71  52.09  47.91  108.725
9       1700251  TO    Abreulândia  2391  61.73  38.27  52.74  47.26  111.595
10      3100401  MG        Acaiaca  3920  65.13  34.87  48.32  51.68  93.4985
11      4300034  RS         Aceguá  4394   24.1   75.9  52.41  47.59  110.128
12      5200159  GO      Adelândia  2477   89.1   10.9  51.39  48.61  105.719
13      3500204  SP         Adolfo  3557  89.96  10.04  50.24  49.76  100.965
14      4200309  SC     Agronômica  4904  37.89  62.11  50.92  49.08  103.749
15      3100708  MG  Água Comprida  2025  75.06  24.94  52.99  47.01  112.721
16      5200209  GO     Água Limpa  2013  70.84  29.16  52.06  47.94  108.594
17      2400406  RN      Água Nova  2980  64.03  35.97  49.66  50.34  98.6492

In [11]:
#### Save CSV
df_sexo_ubrrural.to_csv(r'UrbanoxRuralxSexo_Municipios.csv', index = False)